<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>coming soon</h1>
    <form action="/info">
      <label>
        <input type="serach" name="symbol" required>
      </label>
      <button>GO</button>
    </form>

  </body>
</html>
